In [3]:
!pip3 install pandas

Requirement already satisfied: pandas in /Users/algo trading 2025/batch33/.venv/lib/python3.12/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in /Users/algo trading 2025/batch33/.venv/lib/python3.12/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/algo trading 2025/batch33/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/algo trading 2025/batch33/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/algo trading 2025/batch33/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/algo trading 2025/batch33/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [1]:
import pandas as pd
import numpy as np
np2=np.arange(10,19).reshape(3,3)
np2

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [3]:
df1=pd.DataFrame(np2,index=['r1','r2','r3'],columns=['c1','c2','c3'])
df1

    c1  c2  c3
r1  10  11  12
r2  13  14  15
r3  16  17  18

list of list

In [4]:
l1=[[1,2,3],[4,5,6],[6,7,8]]
df2=pd.DataFrame(l1)
df2

   0  1  2
0  1  2  3
1  4  5  6
2  6  7  8

dict of list

In [5]:
stock={
    'name':['aapl','ongc','artil'],
    'price':['300','500','900'],
    'sector':['tech','oil','telecom']
}
df3=pd.DataFrame(stock)
df3

    name price   sector
0   aapl   300     tech
1   ongc   500      oil
2  artil   900  telecom

list of dict

In [6]:
stock=[
    {"name":'apple' ,'price':300 ,'sector':'tech'},
    {"name":'ongc' ,'price':500 ,'sector':'oil'},
    {"name":'artil' ,'price':400 ,'sector':'oil',}
]
df4=pd.DataFrame(stock)
df4

    name  price sector
0  apple    300   tech
1   ongc    500    oil
2  artil    400    oil

In [7]:
data=pd.read_csv(r'/Users/algo trading 2025/batch33/10_data_analysis/sp500.csv')
data

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30   5.91
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]