In [1]:
import pandas as pd
data=pd.read_csv('/Users/algo trading 2025/batch33/10_data_analysis/Unicorn_companies.csv')
data

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
0,Bytedance,180,07-04-2017,Artificial intelligence,Beijing,China,Asia,2012,NaN
1,SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
2,SHEIN,100,03-07-2018,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0
3,Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
4,Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,29-06-2017,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,379.0
1070,Zhuan Zhuan,1,18-04-2017,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,990.0
1071,Zihaiguo,1,06-05-2021,Consumer & retail,Chongqing,China,Asia,2018,80.0
1072,Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
1073,Zwift,1,16-09-2020,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,620.0

string accessor

In [6]:
data['Industry'].str.replace(" ","-")

0               Artificial-intelligence
1                                 Other
2       E-commerce-&-direct-to-consumer
3                               Fintech
4                               Fintech
                     ...
1069    E-commerce-&-direct-to-consumer
1070    E-commerce-&-direct-to-consumer
1071                  Consumer-&-retail
1072                            Fintech
1073    E-commerce-&-direct-to-consumer
Name: Industry, Length: 1074, dtype: object

In [ ]:
list1=[]
for i in data['Industry']:
    list1.append(i.replace(' ','-'))
data['Industry']=list1
data

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding
0,Bytedance,180,07-04-2017,Artificial-intelligence,Beijing,China,Asia,2012,NaN
1,SpaceX,100,01-12-2012,Other,Hawthorne,United States,North America,2002,7.0
2,SHEIN,100,03-07-2018,E-commerce-&-direct-to-consumer,Shenzhen,China,Asia,2008,2.0
3,Stripe,95,23-01-2014,Fintech,San Francisco,United States,North America,2010,2.0
4,Klarna,46,12-12-2011,Fintech,Stockholm,Sweden,Europe,2005,4.0
...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,29-06-2017,E-commerce-&-direct-to-consumer,Shanghai,China,Asia,2012,379.0
1070,Zhuan Zhuan,1,18-04-2017,E-commerce-&-direct-to-consumer,Beijing,China,Asia,2015,990.0
1071,Zihaiguo,1,06-05-2021,Consumer-&-retail,Chongqing,China,Asia,2018,80.0
1072,Zopa,1,19-10-2021,Fintech,London,United Kingdom,Europe,2005,792.0
1073,Zwift,1,16-09-2020,E-commerce-&-direct-to-consumer,Long Beach,United States,North America,2014,620.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       1074 non-null   object
 1   Valuation     1074 non-null   int64
 2   Date Joined   1074 non-null   object
 3   Industry      1074 non-null   object
 4   City          1058 non-null   object
 5   Country       1074 non-null   object
 6   Continent     1074 non-null   object
 7   Year Founded  1074 non-null   int64
 8   Funding       1073 non-null   float64
dtypes: float64(1), int64(2), object(6)
memory usage: 75.6+ KB

In [12]:
data1=pd.read_html('https://www.screener.in/screens/281185/nifty-50/')[0]
data1=data1.set_index('Name').drop('Name')

In [16]:
data1['P/E']=data1['P/E'].astype('float')
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, Reliance Industr to Hind.Aeronautics
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              25 non-null     object
 1   CMP  Rs.           25 non-null     object
 2   P/E                25 non-null     float64
 3   Mar Cap  Rs.Cr.    25 non-null     object
 4   Div Yld  %         25 non-null     object
 5   NP Qtr  Rs.Cr.     25 non-null     object
 6   Qtr Profit Var  %  25 non-null     object
 7   Sales Qtr  Rs.Cr.  25 non-null     object
 8   Qtr Sales Var  %   25 non-null     object
 9   ROCE  %            25 non-null     object
dtypes: float64(1), object(9)
memory usage: 2.7+ KB

In [17]:
data1['P/E'].mean()

np.float64(74.83319999999999)