In [ ]:
!pip3 install pandas

In [1]:
import pandas as pd
import numpy as np
np2=np.arange(10,19).reshape(3,3)
np2

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

In [ ]:
df1=pd.DataFrame(np2,index=['r1','r2','r3'],columns=['c1','c2','c3'])
df1

list of list

In [ ]:
l1=[[1,2,3],[4,5,6],[6,7,8]]
df2=pd.DataFrame(l1)
df2

dict of list

In [ ]:
stock={
    'name':['aapl','ongc','artil'],
    'price':['300','500','900'],
    'sector':['tech','oil','telecom']
}
df3=pd.DataFrame(stock)
df3

list of dict

In [ ]:
stock=[
    {"name":'apple' ,'price':300 ,'sector':'tech'},
    {"name":'ongc' ,'price':500 ,'sector':'oil'},
    {"name":'artil' ,'price':400 ,'sector':'oil',}
]
df4=pd.DataFrame(stock)
df4

In [14]:
data_csv=pd.read_csv(r'/Users/algo trading 2025/batch33/10_data_analysis/sp500.csv')
data_csv

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30   5.91
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [ ]:
exel_data=pd.read_excel(r'/Users/algo trading 2025/batch33/10_data_analysis/data2.xlsx')
exel_data

In [ ]:
!pip3 install openpyxl

In [ ]:
!pip install lxml

In [7]:
link='https://www.screener.in/screens/281185/nifty-50/'
url = 'https://en.wikipedia.org/wiki/NIFTY_50'
data=pd.read_html(link)
data=data[0]
data

,S.No.,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %
0,1.,Reliance Industr,1357.20,24.48,1836626.68,0.41,30783.00,35.62,243632.00,5.11,9.69
1,2.,HDFC Bank,951.60,20.70,1461094.21,1.16,17090.43,-1.32,87371.87,7.14,7.51
2,3.,Bharti Airtel,1888.80,38.40,1133697.26,0.85,7421.80,62.85,49462.60,28.45,13.48
3,4.,TCS,3084.70,22.65,1116071.46,1.95,12819.00,5.98,63437.00,1.32,64.63
4,5.,ICICI Bank,1397.80,18.87,998148.15,0.79,14456.33,15.92,49079.96,10.09,7.87
5,6.,SBI,802.50,9.32,740757.06,1.98,22121.38,9.71,125728.68,6.33,6.47
6,7.,Hind. Unilever,2659.80,58.77,624944.28,1.62,2768.00,8.18,16514.00,5.14,27.85
7,8.,Infosys,1469.60,22.39,610526.26,2.93,6924.00,8.68,42279.00,7.54,37.50
8,9.,Bajaj Finance,877.85,31.35,546240.57,0.50,4765.29,20.13,19523.88,21.27,11.35
9,10.,Life Insurance,852.15,11.06,538984.68,1.41,10955.21,3.91,224671.49,6.00,53.13
10,11.,ITC,409.75,25.62,513280.01,3.50,5343.41,4.71,21494.79,20.91,36.79
11,12.,Larsen & Toubro,3601.00,31.87,495321.81,0.94,4318.17,29.85,63678.92,15.53,14.49
12,13.,Maruti Suzuki,14791.00,32.00,465032.85,0.91,3792.40,0.87,38605.20,7.90,21.70
13,14.,M & M,3199.50,28.98,397867.05,0.79,4376.58,24.39,45529.19,22.33,13.93
14,15.,HCL Technologies,1454.80,23.26,394784.00,3.71,3844.00,-9.73,30349.00,8.17,31.61
15,S.No.,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %
16,16.,Kotak Mah. Bank,1960.30,20.36,389810.06,0.13,4472.18,-2.35,17248.31,8.91,8.17
17,17.,Sun Pharma.Inds.,1594.50,33.37,382573.96,1.00,2292.87,1.16,13851.40,9.47,20.21
18,18.,UltraTech Cem.,12640.00,53.80,372474.47,0.61,2220.91,43.98,21275.45,13.06,10.89
19,19.,Axis Bank,1045.20,11.64,324255.81,0.10,6279.49,-2.99,32348.31,3.82,7.11
20,20.,Titan Company,3628.80,86.77,322159.84,0.30,1091.00,52.59,16523.00,24.55,19.14
21,21.,NTPC,327.55,13.26,317614.30,2.55,6108.46,9.80,47065.36,-3.02,9.95
22,22.,Avenue Super.,4755.60,114.31,309462.62,0.00,772.81,-0.11,16359.70,16.28,17.95
23,23.,Bajaj Finserv,1913.50,32.10,305741.56,0.05,5329.17,30.47,35439.08,12.58,11.03
24,24.,Eternal Ltd,313.95,1013.29,302972.76,0.00,25.00,-90.12,7167.00,70.40,2.66
25,25.,O N G C,233.71,8.14,294013.71,5.24,11554.21,-1.59,163108.12,-3.47,12.04

In [10]:
data.head(10)

,S.No.,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %
0,1.,Reliance Industr,1357.20,24.48,1836626.68,0.41,30783.00,35.62,243632.00,5.11,9.69
1,2.,HDFC Bank,951.60,20.70,1461094.21,1.16,17090.43,-1.32,87371.87,7.14,7.51
2,3.,Bharti Airtel,1888.80,38.40,1133697.26,0.85,7421.80,62.85,49462.60,28.45,13.48
3,4.,TCS,3084.70,22.65,1116071.46,1.95,12819.00,5.98,63437.00,1.32,64.63
4,5.,ICICI Bank,1397.80,18.87,998148.15,0.79,14456.33,15.92,49079.96,10.09,7.87
5,6.,SBI,802.50,9.32,740757.06,1.98,22121.38,9.71,125728.68,6.33,6.47
6,7.,Hind. Unilever,2659.80,58.77,624944.28,1.62,2768.00,8.18,16514.00,5.14,27.85
7,8.,Infosys,1469.60,22.39,610526.26,2.93,6924.00,8.68,42279.00,7.54,37.50
8,9.,Bajaj Finance,877.85,31.35,546240.57,0.50,4765.29,20.13,19523.88,21.27,11.35
9,10.,Life Insurance,852.15,11.06,538984.68,1.41,10955.21,3.91,224671.49,6.00,53.13

In [12]:
data.tail(10)

,S.No.,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %
16,16.,Kotak Mah. Bank,1960.30,20.36,389810.06,0.13,4472.18,-2.35,17248.31,8.91,8.17
17,17.,Sun Pharma.Inds.,1594.50,33.37,382573.96,1.00,2292.87,1.16,13851.40,9.47,20.21
18,18.,UltraTech Cem.,12640.00,53.80,372474.47,0.61,2220.91,43.98,21275.45,13.06,10.89
19,19.,Axis Bank,1045.20,11.64,324255.81,0.10,6279.49,-2.99,32348.31,3.82,7.11
20,20.,Titan Company,3628.80,86.77,322159.84,0.30,1091.00,52.59,16523.00,24.55,19.14
21,21.,NTPC,327.55,13.26,317614.30,2.55,6108.46,9.80,47065.36,-3.02,9.95
22,22.,Avenue Super.,4755.60,114.31,309462.62,0.00,772.81,-0.11,16359.70,16.28,17.95
23,23.,Bajaj Finserv,1913.50,32.10,305741.56,0.05,5329.17,30.47,35439.08,12.58,11.03
24,24.,Eternal Ltd,313.95,1013.29,302972.76,0.00,25.00,-90.12,7167.00,70.40,2.66
25,25.,O N G C,233.71,8.14,294013.71,5.24,11554.21,-1.59,163108.12,-3.47,12.04

In [15]:
data_csv.describe()

             Price         EPS
count   102.000000  102.000000
mean    150.500686    6.485294
std     240.768463    8.577741
min      12.110000    0.020000
25%      54.335000    2.885000
50%      88.295000    4.405000
75%     151.032500    6.565000
max    1762.230000   74.450000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              26 non-null     object
 1   Name               26 non-null     object
 2   CMP  Rs.           26 non-null     object
 3   P/E                26 non-null     object
 4   Mar Cap  Rs.Cr.    26 non-null     object
 5   Div Yld  %         26 non-null     object
 6   NP Qtr  Rs.Cr.     26 non-null     object
 7   Qtr Profit Var  %  26 non-null     object
 8   Sales Qtr  Rs.Cr.  26 non-null     object
 9   Qtr Sales Var  %   26 non-null     object
 10  ROCE  %            26 non-null     object
dtypes: object(11)
memory usage: 2.4+ KB

In [17]:
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    102 non-null    object
 1   Sector  102 non-null    object
 2   Price   102 non-null    float64
 3   EPS     102 non-null    float64
dtypes: float64(2), object(2)
memory usage: 3.3+ KB

In [19]:
data_csv.columns

Index(['Name', 'Sector', 'Price', 'EPS'], dtype='object')

In [20]:
data_csv.index

RangeIndex(start=0, stop=102, step=1)

In [21]:
data.shape

(26, 11)

In [22]:
data.values

array([['1.', 'Reliance Industr', '1357.20', '24.48', '1836626.68',
        '0.41', '30783.00', '35.62', '243632.00', '5.11', '9.69'],
       ['2.', 'HDFC Bank', '951.60', '20.70', '1461094.21', '1.16',
        '17090.43', '-1.32', '87371.87', '7.14', '7.51'],
       ['3.', 'Bharti Airtel', '1888.80', '38.40', '1133697.26', '0.85',
        '7421.80', '62.85', '49462.60', '28.45', '13.48'],
       ['4.', 'TCS', '3084.70', '22.65', '1116071.46', '1.95',
        '12819.00', '5.98', '63437.00', '1.32', '64.63'],
       ['5.', 'ICICI Bank', '1397.80', '18.87', '998148.15', '0.79',
        '14456.33', '15.92', '49079.96', '10.09', '7.87'],
       ['6.', 'SBI', '802.50', '9.32', '740757.06', '1.98', '22121.38',
        '9.71', '125728.68', '6.33', '6.47'],
       ['7.', 'Hind. Unilever', '2659.80', '58.77', '624944.28', '1.62',
        '2768.00', '8.18', '16514.00', '5.14', '27.85'],
       ['8.', 'Infosys', '1469.60', '22.39', '610526.26', '2.93',
        '6924.00', '8.68', '42279.00', '7.54', '37.50'],
       ['9.', 'Bajaj Finance', '877.85', '31.35', '546240.57', '0.50',
        '4765.29', '20.13', '19523.88', '21.27', '11.35'],
       ['10.', 'Life Insurance', '852.15', '11.06', '538984.68', '1.41',
        '10955.21', '3.91', '224671.49', '6.00', '53.13'],
       ['11.', 'ITC', '409.75', '25.62', '513280.01', '3.50', '5343.41',
        '4.71', '21494.79', '20.91', '36.79'],
       ['12.', 'Larsen & Toubro', '3601.00', '31.87', '495321.81',
        '0.94', '4318.17', '29.85', '63678.92', '15.53', '14.49'],
       ['13.', 'Maruti Suzuki', '14791.00', '32.00', '465032.85', '0.91',
        '3792.40', '0.87', '38605.20', '7.90', '21.70'],
       ['14.', 'M & M', '3199.50', '28.98', '397867.05', '0.79',
        '4376.58', '24.39', '45529.19', '22.33', '13.93'],
       ['15.', 'HCL Technologies', '1454.80', '23.26', '394784.00',
        '3.71', '3844.00', '-9.73', '30349.00', '8.17', '31.61'],
       ['S.No.', 'Name', 'CMP  Rs.', 'P/E', 'Mar Cap  Rs.Cr.',
        'Div Yld  %', 'NP Qtr  Rs.Cr.', 'Qtr Profit Var  %',
        'Sales Qtr  Rs.Cr.', 'Qtr Sales Var  %', 'ROCE  %'],
       ['16.', 'Kotak Mah. Bank', '1960.30', '20.36', '389810.06',
        '0.13', '4472.18', '-2.35', '17248.31', '8.91', '8.17'],
       ['17.', 'Sun Pharma.Inds.', '1594.50', '33.37', '382573.96',
        '1.00', '2292.87', '1.16', '13851.40', '9.47', '20.21'],
       ['18.', 'UltraTech Cem.', '12640.00', '53.80', '372474.47',
        '0.61', '2220.91', '43.98', '21275.45', '13.06', '10.89'],
       ['19.', 'Axis Bank', '1045.20', '11.64', '324255.81', '0.10',
        '6279.49', '-2.99', '32348.31', '3.82', '7.11'],
       ['20.', 'Titan Company', '3628.80', '86.77', '322159.84', '0.30',
        '1091.00', '52.59', '16523.00', '24.55', '19.14'],
       ['21.', 'NTPC', '327.55', '13.26', '317614.30', '2.55', '6108.46',
        '9.80', '47065.36', '-3.02', '9.95'],
       ['22.', 'Avenue Super.', '4755.60', '114.31', '309462.62', '0.00',
        '772.81', '-0.11', '16359.70', '16.28', '17.95'],
       ['23.', 'Bajaj Finserv', '1913.50', '32.10', '305741.56', '0.05',
        '5329.17', '30.47', '35439.08', '12.58', '11.03'],
       ['24.', 'Eternal Ltd', '313.95', '1013.29', '302972.76', '0.00',
        '25.00', '-90.12', '7167.00', '70.40', '2.66'],
       ['25.', 'O N G C', '233.71', '8.14', '294013.71', '5.24',
        '11554.21', '-1.59', '163108.12', '-3.47', '12.04']], dtype=object)

subsetting

In [1]:
import pandas as pd
data=pd.read_csv(r"/Users/algo trading 2025/batch33/10_data_analysis/sp500.csv")
data

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30   5.91
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [3]:
data.Sector

0      Information Technology
1                 Health Care
2                 Health Care
3      Information Technology
4                 Health Care
                ...
97         Telecommunications
98           Consumer Staples
99                 Financials
100          Consumer Staples
101                    Energy
Name: Sector, Length: 102, dtype: object

In [5]:
data['Name']

0                       Apple Inc
1                      Abbvie Inc
2             Abbott Laboratories
3                   Accenture Plc
4                    Allergan Plc
                  ...
97     Verizon Communications Inc
98       Walgreens Boots Alliance
99          Wells Fargo & Company
100               Wal-Mart Stores
101              Exxon Mobil Corp
Name: Name, Length: 102, dtype: object

In [6]:
data[['Name',"Price"]]

                           Name   Price
0                     Apple Inc  170.12
1                    Abbvie Inc   93.29
2           Abbott Laboratories   55.28
3                 Accenture Plc  145.30
4                  Allergan Plc  171.81
..                          ...     ...
97   Verizon Communications Inc   45.85
98     Walgreens Boots Alliance   70.25
99        Wells Fargo & Company   54.02
100             Wal-Mart Stores   96.08
101            Exxon Mobil Corp   80.31

[102 rows x 2 columns]